.bg-light {
  background-color: #ffffff;
}
.bg-dark {
  background-color: #2b303b;
}

.bg2-light {
  background-color: #edf2f7;
}
.bg2-dark {
  background-color: #545e73;
}

.tx-p-light {
  color: #363c49;
}

.tx-p-dark {
  color: #ffffff;
}

.tx-s-light {
  color: #58627d;
}

.tx-s-dark {
  color: #c4c9d4;
}

.bt-light {
  background-color: #1976d2;
}

.bt-dark {
  background-color: #afcee9;
}

.nav-light {
}
